
  <h1>{{article.title}}</h1> 
  <h5>Written by {{author}}</h5> 
 {{article.body}}
  <hr>
<label> Body:</label>
      <textarea class="form-control" name='body'></textarea>
     <br>
    <input class="btn.btn-primary" type='submit',value='Submit'>
    
      
    