/* k.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.k-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.k-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.k-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.k-table,.k-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.k-table-all{border:1px solid #ccc}
.k-bordered tr,.k-table-all tr{border-bottom:1px solid #ddd}.k-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.k-table-all tr:nth-child(odd){background-color:#fff}.k-table-all tr:nth-child(even){background-color:#f1f1f1}
.k-hoverable tbody tr:hover,.k-ul.k-hoverable li:hover{background-color:#ccc}.k-centered tr th,.k-centered tr td{text-align:center}
.k-table td,.k-table th,.k-table-all td,.k-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.k-table th:first-child,.k-table td:first-child,.k-table-all th:first-child,.k-table-all td:first-child{padding-left:16px}
.k-btn,.k-button{border:navy;display:inline-block;padding:8px 16px;vertical-align:left;overflow:hidden;text-decoration:none;color:inherit;background-color:rgb(17, 211, 59);text-align:center;cursor:pointer;white-space:nowrap}
.k-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.k-btn,.k-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.k-disabled,.k-btn:disabled,.k-button:disabled{cursor:not-allowed;opacity:0.3}.k-disabled *,:disabled *{pointer-events:none}
.k-btn.k-disabled:hover,.k-btn:disabled:hover{box-shadow:none}
.k-badge,.k-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.k-badge{border-radius:50%}
.k-ul{list-style-type:none;padding:0;margin:0}.k-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.k-ul li:last-child{border-bottom:none}
.k-tooltip,.k-display-container{position:relative}.k-tooltip .k-text{display:none}.k-tooltip:hover .k-text{display:inline-block}
.k-ripple:active{opacity:0.5}.k-ripple{transition:opacity 0s}
.k-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.k-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.k-dropdown-click,.k-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.k-dropdown-hover:hover .k-dropdown-content{display:block}
.k-dropdown-hover:first-child,.k-dropdown-click:hover{background-color:#ccc;color:#000}
.k-dropdown-hover:hover > .k-button:first-child,.k-dropdown-click:hover > .k-button:first-child{background-color:#ccc;color:#000}
.k-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.k-check,.k-radio{width:24px;height:24px;position:relative;top:6px}
.k-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.k-bar-block .k-dropdown-hover,.k-bar-block .k-dropdown-click{width:100%}
.k-bar-block .k-dropdown-hover .k-dropdown-content,.k-bar-block .k-dropdown-click .k-dropdown-content{min-width:100%}
.k-bar-block .k-dropdown-hover .k-button,.k-bar-block .k-dropdown-click .k-button{width:100%;text-align:left;padding:8px 16px}
.k-main,#main{transition:margin-left .4s}
.k-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.k-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.k-bar{width:100%;overflow:hidden}.k-center .k-bar{display:inline-block;width:auto}
.k-bar .k-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.k-bar .k-dropdown-hover,.k-bar .k-dropdown-click{position:static;float:left}
.k-bar .k-button{white-space:normal}
.k-bar-block .k-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.k-bar-block.k-center .k-bar-item{text-align:center}.k-block{display:block;width:100%}
.k-responsive{display:block;overflow-x:auto}
.k-container:after,.k-container:before,.k-panel:after,.k-panel:before,.k-row:after,.k-row:before,.k-row-padding:after,.k-row-padding:before,
.k-cell-row:before,.k-cell-row:after,.k-clear:after,.k-clear:before,.k-bar:before,.k-bar:after{content:"";display:table;clear:both}
.k-col,.k-half,.k-third,.k-twothird,.k-threequarter,.k-quarter{float:left;width:100%}
.k-col.s1{width:8.33333%}.k-col.s2{width:16.66666%}.k-col.s3{width:24.99999%}.k-col.s4{width:33.33333%}
.k-col.s5{width:41.66666%}.k-col.s6{width:49.99999%}.k-col.s7{width:58.33333%}.k-col.s8{width:66.66666%}
.k-col.s9{width:74.99999%}.k-col.s10{width:83.33333%}.k-col.s11{width:91.66666%}.k-col.s12{width:99.99999%}
@media (min-width:601px){.k-col.m1{width:8.33333%}.k-col.m2{width:16.66666%}.k-col.m3,.k-quarter{width:24.99999%}.k-col.m4,.k-third{width:33.33333%}
.k-col.m5{width:41.66666%}.k-col.m6,.k-half{width:49.99999%}.k-col.m7{width:58.33333%}.k-col.m8,.k-twothird{width:66.66666%}
.k-col.m9,.k-threequarter{width:74.99999%}.k-col.m10{width:83.33333%}.k-col.m11{width:91.66666%}.k-col.m12{width:99.99999%}}
@media (min-width:993px){.k-col.l1{width:8.33333%}.k-col.l2{width:16.66666%}.k-col.l3{width:24.99999%}.k-col.l4{width:33.33333%}
.k-col.l5{width:41.66666%}.k-col.l6{width:49.99999%}.k-col.l7{width:58.33333%}.k-col.l8{width:66.66666%}
.k-col.l9{width:74.99999%}.k-col.l10{width:83.33333%}.k-col.l11{width:91.66666%}.k-col.l12{width:99.99999%}}
.k-content{max-width:980px;margin:auto}.k-rest{overflow:hidden}
.k-cell-row{display:table;width:100%}.k-cell{display:table-cell}
.k-cell-top{vertical-align:top}.k-cell-middle{vertical-align:middle}.k-cell-bottom{vertical-align:bottom}
.k-hide{display:none!important}.k-show-block,.k-show{display:block!important}.k-show-inline-block{display:inline-block!important}
@media (max-width:600px){.k-modal-content{margin:0 10px;width:auto!important}.k-modal{padding-top:30px}
.k-dropdown-hover.k-mobile .k-dropdown-content,.k-dropdown-click.k-mobile .k-dropdown-content{position:relative}	
.k-hide-small{display:none!important}.k-mobile{display:block;width:100%!important}.k-bar-item.k-mobile,.k-dropdown-hover.k-mobile,.k-dropdown-click.k-mobile{text-align:center}
.k-dropdown-hover.k-mobile,.k-dropdown-hover.k-mobile .k-btn,.k-dropdown-hover.k-mobile .k-button,.k-dropdown-click.k-mobile,.k-dropdown-click.k-mobile .k-btn,.k-dropdown-click.k-mobile .k-button{width:100%}}
@media (max-width:768px){.k-modal-content{width:500px}.k-modal{padding-top:50px}}
@media (min-width:993px){.k-modal-content{width:900px}.k-hide-large{display:none!important}.k-sidebar.k-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.k-hide-medium{display:none!important}}
@media (max-width:992px){.k-sidebar.k-collapse{display:none}.k-main{margin-left:0!important;margin-right:0!important}}
.k-top,.k-bottom{position:fixed;width:100%;z-index:1}.k-top{top:0}.k-bottom{bottom:0}
.k-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.k-display-topleft{position:absolute;left:0;top:0}.k-display-topright{position:absolute;right:0;top:0}
.k-display-bottomleft{position:absolute;left:0;bottom:0}.k-display-bottomright{position:absolute;right:0;bottom:0}
.k-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.k-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.k-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.k-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.k-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.k-display-container:hover .k-display-hover{display:block}.k-display-container:hover span.k-display-hover{display:inline-block}.k-display-hover{display:none}
.k-display-position{position:absolute}
.k-circle{border-radius:50%}
.k-round-small{border-radius:2px}.k-round,.k-round-medium{border-radius:4px}.k-round-large{border-radius:8px}.k-round-xlarge{border-radius:16px}.k-round-xxlarge{border-radius:32px}
.k-row-padding,.k-row-padding>.k-half,.k-row-padding>.k-third,.k-row-padding>.k-twothird,.k-row-padding>.k-threequarter,.k-row-padding>.k-quarter,.k-row-padding>.k-col{padding:0 8px}
.k-container,.k-panel{padding:0.01em 16px}.k-panel{margin-top:16px;margin-bottom:16px}
.k-code,.k-codespan{font-family:Consolas,"courier new";font-size:16px}
.k-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.k-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.k-card,.k-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.k-card-4,.k-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.k-spin{animation:k-spin 2s infinite linear}@keyframes k-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.k-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.k-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.k-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.k-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.k-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.k-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.k-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.k-animate-input{transition:width 0.4s ease-in-out}.k-animate-input:focus{width:100%!important}
.k-opacity,.k-hover-opacity:hover{opacity:0.60}.k-opacity-off,.k-hover-opacity-off:hover{opacity:1}
.k-opacity-max{opacity:0.25}.k-opacity-min{opacity:0.75}
.k-greyscale-max,.k-grayscale-max,.k-hover-greyscale:hover,.k-hover-grayscale:hover{filter:grayscale(100%)}
.k-greyscale,.k-grayscale{filter:grayscale(75%)}.k-greyscale-min,.k-grayscale-min{filter:grayscale(50%)}
.k-sepia{filter:sepia(75%)}.k-sepia-max,.k-hover-sepia:hover{filter:sepia(100%)}.k-sepia-min{filter:sepia(50%)}
.k-tiny{font-size:10px!important}.k-small{font-size:12px!important}.k-medium{font-size:15px!important}.k-large{font-size:18px!important}
.k-xlarge{font-size:24px!important}.k-xxlarge{font-size:36px!important}.k-xxxlarge{font-size:48px!important}.k-jumbo{font-size:64px!important}
.k-left-align{text-align:left!important}.k-right-align{text-align:right!important}.k-justify{text-align:justify!important}.k-center{text-align:center!important}
.k-border-0{border:0!important}.k-border{border:1px solid #ccc!important}
.k-border-top{border-top:1px solid #ccc!important}.k-border-bottom{border-bottom:1px solid #ccc!important}
.k-border-left{border-left:1px solid #ccc!important}.k-border-right{border-right:1px solid #ccc!important}
.k-topbar{border-top:6px solid #ccc!important}.k-bottombar{border-bottom:6px solid #ccc!important}
.k-leftbar{border-left:6px solid #ccc!important}.k-rightbar{border-right:6px solid #ccc!important}
.k-section,.k-code{margin-top:16px!important;margin-bottom:16px!important}
.k-margin{margin:16px!important}.k-margin-top{margin-top:16px!important}.k-margin-bottom{margin-bottom:16px!important}
.k-margin-left{margin-left:16px!important}.k-margin-right{margin-right:16px!important}
.k-padding-small{padding:4px 8px!important}.k-padding{padding:8px 16px!important}.k-padding-large{padding:12px 24px!important}
.k-padding-16{padding-top:16px!important;padding-bottom:16px!important}.k-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.k-padding-32{padding-top:32px!important;padding-bottom:32px!important}.k-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.k-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.k-left{float:left!important}.k-right{float:right!important}
.k-button:hover{color:#000!important;background-color:#ccc!important}
.k-transparent,.k-hover-none:hover{background-color:transparent!important}
.k-hover-none:hover{box-shadow:none!important}
/* Colors */
.k-amber,.k-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.k-aqua,.k-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.k-blue,.k-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.k-light-blue,.k-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.k-brown,.k-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.k-cyan,.k-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.k-blue-grey,.k-hover-blue-grey:hover,.k-blue-gray,.k-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.k-green,.k-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.k-light-green,.k-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.k-indigo,.k-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.k-khaki,.k-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.k-lime,.k-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.k-orange,.k-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.k-deep-orange,.k-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.k-pink,.k-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.k-purple,.k-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.k-deep-purple,.k-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.k-red,.k-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.k-sand,.k-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.k-teal,.k-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.k-yellow,.k-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.k-white,.k-hover-white:hover{color:#000!important;background-color:#fff!important}
.k-black,.k-hover-black:hover{color:#fff!important;background-color:#000!important}
.k-grey,.k-hover-grey:hover,.k-gray,.k-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.k-light-grey,.k-hover-light-grey:hover,.k-light-gray,.k-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.k-dark-grey,.k-hover-dark-grey:hover,.k-dark-gray,.k-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.k-pale-red,.k-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.k-pale-green,.k-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.k-pale-yellow,.k-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.k-pale-blue,.k-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.k-text-amber,.k-hover-text-amber:hover{color:#ffc107!important}
.k-text-aqua,.k-hover-text-aqua:hover{color:#00ffff!important}
.k-text-blue,.k-hover-text-blue:hover{color:#2196F3!important}
.k-text-light-blue,.k-hover-text-light-blue:hover{color:#87CEEB!important}
.k-text-brown,.k-hover-text-brown:hover{color:#795548!important}
.k-text-cyan,.k-hover-text-cyan:hover{color:#00bcd4!important}
.k-text-blue-grey,.k-hover-text-blue-grey:hover,.k-text-blue-gray,.k-hover-text-blue-gray:hover{color:#607d8b!important}
.k-text-green,.k-hover-text-green:hover{color:#4CAF50!important}
.k-text-light-green,.k-hover-text-light-green:hover{color:#8bc34a!important}
.k-text-indigo,.k-hover-text-indigo:hover{color:#3f51b5!important}
.k-text-khaki,.k-hover-text-khaki:hover{color:#b4aa50!important}
.k-text-lime,.k-hover-text-lime:hover{color:#cddc39!important}
.k-text-orange,.k-hover-text-orange:hover{color:#ff9800!important}
.k-text-deep-orange,.k-hover-text-deep-orange:hover{color:#ff5722!important}
.k-text-pink,.k-hover-text-pink:hover{color:#e91e63!important}
.k-text-purple,.k-hover-text-purple:hover{color:#9c27b0!important}
.k-text-deep-purple,.k-hover-text-deep-purple:hover{color:#673ab7!important}
.k-text-red,.k-hover-text-red:hover{color:#f44336!important}
.k-text-sand,.k-hover-text-sand:hover{color:#fdf5e6!important}
.k-text-teal,.k-hover-text-teal:hover{color:#009688!important}
.k-text-yellow,.k-hover-text-yellow:hover{color:#d2be0e!important}
.k-text-white,.k-hover-text-white:hover{color:#fff!important}
.k-text-black,.k-hover-text-black:hover{color:#000!important}
.k-text-grey,.k-hover-text-grey:hover,.k-text-gray,.k-hover-text-gray:hover{color:#757575!important}
.k-text-light-grey,.k-hover-text-light-grey:hover,.k-text-light-gray,.k-hover-text-light-gray:hover{color:#f1f1f1!important}
.k-text-dark-grey,.k-hover-text-dark-grey:hover,.k-text-dark-gray,.k-hover-text-dark-gray:hover{color:#3a3a3a!important}
.k-border-amber,.k-hover-border-amber:hover{border-color:#ffc107!important}
.k-border-aqua,.k-hover-border-aqua:hover{border-color:#00ffff!important}
.k-border-blue,.k-hover-border-blue:hover{border-color:#2196F3!important}
.k-border-light-blue,.k-hover-border-light-blue:hover{border-color:#87CEEB!important}
.k-border-brown,.k-hover-border-brown:hover{border-color:#795548!important}
.k-border-cyan,.k-hover-border-cyan:hover{border-color:#00bcd4!important}
.k-border-blue-grey,.k-hover-border-blue-grey:hover,.k-border-blue-gray,.k-hover-border-blue-gray:hover{border-color:#607d8b!important}
.k-border-green,.k-hover-border-green:hover{border-color:#4CAF50!important}
.k-border-light-green,.k-hover-border-light-green:hover{border-color:#8bc34a!important}
.k-border-indigo,.k-hover-border-indigo:hover{border-color:#3f51b5!important}
.k-border-khaki,.k-hover-border-khaki:hover{border-color:#f0e68c!important}
.k-border-lime,.k-hover-border-lime:hover{border-color:#cddc39!important}
.k-border-orange,.k-hover-border-orange:hover{border-color:#ff9800!important}
.k-border-deep-orange,.k-hover-border-deep-orange:hover{border-color:#ff5722!important}
.k-border-pink,.k-hover-border-pink:hover{border-color:#e91e63!important}
.k-border-purple,.k-hover-border-purple:hover{border-color:#9c27b0!important}
.k-border-deep-purple,.k-hover-border-deep-purple:hover{border-color:#673ab7!important}
.k-border-red,.k-hover-border-red:hover{border-color:#f44336!important}
.k-border-sand,.k-hover-border-sand:hover{border-color:#fdf5e6!important}
.k-border-teal,.k-hover-border-teal:hover{border-color:#009688!important}
.k-border-yellow,.k-hover-border-yellow:hover{border-color:#ffeb3b!important}
.k-border-white,.k-hover-border-white:hover{border-color:#fff!important}
.k-border-black,.k-hover-border-black:hover{border-color:#000!important}
.k-border-grey,.k-hover-border-grey:hover,.k-border-gray,.k-hover-border-gray:hover{border-color:#9e9e9e!important}
.k-border-light-grey,.k-hover-border-light-grey:hover,.k-border-light-gray,.k-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.k-border-dark-grey,.k-hover-border-dark-grey:hover,.k-border-dark-gray,.k-hover-border-dark-gray:hover{border-color:#616161!important}
.k-border-pale-red,.k-hover-border-pale-red:hover{border-color:#ffe7e7!important}.k-border-pale-green,.k-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.k-border-pale-yellow,.k-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.k-border-pale-blue,.k-hover-border-pale-blue:hover{border-color:#e7ffff!important}